html body #nps-slider-container {
  * {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  * {
    //outline: 1px solid rgba(125,0,0,0.2) !important;
    //outline-offset: -1px;
  }

  //border:1px solid blue;
  display: block;
  position: relative;
  width: 100%;

  .slick-slide {
    padding-bottom: 40px;
  }

  .nps-slide {
    display: block;
    position: relative;
    width: 100%;
    height: 400px;
    background-position: center center;
    //background-size:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background: rgb(78, 200, 67);
    background: linear-gradient(90deg, rgba(78, 200, 67, 1) 0%, rgba(199, 209, 67, 1) 100%);
    border-radius: 10px;
    min-height: 400px;
  }
  .nps-slide-layout-wrap {
    display: flex;
    align-items: center;
    padding: 30px;
    height: 100%;
    hyphens: none;

    a {
      hyphens: none;
      white-space: nowrap;
    }

    
    .featured-product-img {
      flex: 0 1 536px;
      img {
        max-width: 460px;
        width: 100%;
        transform: translateY(26px);
      }
    }

    @media (max-width: 767px) {
      padding: 20px;
    }
    @media (max-width: 600px) {
      flex-direction: column;
      align-items: flex-end;

      .featured-product-img img {
        max-width: 200px;
        transform: none;
      }
    }
    @media (max-width: 600px) {
      .featured-product-img img {
        max-width: 170px;
        transform: translateX(10px);
      }
    }
  }
  .nps-slide-content-wrapper {
    &.nps-content-left {
      margin-left: 0;
      margin-right: auto;
      left: 0;
      flex: 1 1 660px;
      max-width: 660px;

      .nps-cta-button {
        margin-left: auto;
        margin-right: 0;
        right: 0;
        float: left;
      }
    }
    &.nps-content-right {
      margin-left: auto;
      margin-right: 0;
      left: 0;
      .nps-cta-button {
        margin-left: 0;
        margin-right: auto;
        left: 0;
        float: left;
      }
    }
    &.nps-content-center {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      .nps-cta-button {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .nps-mobile-slide-title {
    display: none;
  }

  @media screen and (max-width: 767.98px) {
    .nps-slide-title {
      display: none !important;
    }
    .nps-slide {
      //height:360;
      //width:360;
    }
    .nps-mobile-slide-title {
      display: block !important;
      color: rgba(7, 7, 7, 0.8);
      font-size: 40px !important;
      line-height: 42px !important;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .nps-slide-content-wrapper {
      display: block;
      position: relative;
      //text-shadow: 1px 2px 3px RGBA(0,0,0,1);
      //text-shadow: 1px 1px 3px rgba(0,0,0,0.4);

      &.nps-content-left {
        text-align: left;
        left: auto;
        .nps-cta-button {
          margin-left: auto;
          margin-right: auto;
          right: auto;
        }
      }
      &.nps-content-right {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        left: auto;
        .nps-cta-button {
          margin-left: auto;
          margin-right: auto;
          left: auto;
        }
      }
      &.nps-content-center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        .nps-cta-button {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .nps-slide-title {
    color: rgba(7, 7, 7, 0.8);
    font-size: 40px !important;
    line-height: 50px !important;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .nps-the-content {
    color: rgba(0, 0, 0, 0.75) !important;
    font-size: 19px;
    line-height: 22px;
    font-weight: bold;
  }
  a.nps-cta-button {
    display: inline-block;
    position: relative;
    width: auto;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    font-size: 19px;
    line-height: 19px;
    padding: 16px 30px;
    font-weight: bold;
    margin-top: 20px;
    &:hover {
      background: rgba(0, 0, 0, 0.65);
    }
  }
  .slick-prev {
    img {
      box-shadow: 3px 3px 15px -15px rgba(0, 0, 0, 1);
    }
  }
  .slick-next {
    img {
      box-shadow: 3px 3px 15px -15px rgba(0, 0, 0, 1);
    }
  }
}
/*
#neochrome-hellobar{
  * {
    //outline:1px solid red;
  }
  display: block;
  position: relative;
  background-color: #000000;
  color: #FFFFFF;
  height:60px;
  @media (max-width: 767px){
    height:auto;
  }
  width:100%;
  .nhb-flex-row{
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .nhb-flex-column{
    display:flex;
    flex-direction:column;
  }
  .nhb-flex-item{
    padding:2px;
  }
}

@media (max-width: 767.98px) {
  .nps-hidden-sm{
    display:none !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .nps-hidden-md{
    display:none !important;
  }
}
@media (min-width: 992px) {
  .nps-hidden-lg{
    display:none !important;
  }
}
//*/
